# I won't provide default keymap.
# This is my principle for every my Atom Packages and Vim plugins I've created till now.

# * Normal user
# 'atom-workspace:not([mini])':
#   'cmd-k x':         'paner:swap-item'
#   'cmd-enter':       'paner:maximize'
#   'cmd-k cmd-up':    'paner:very-top'
#   'cmd-k cmd-down':  'paner:very-bottom'
#   'cmd-k cmd-left':  'paner:very-left'
#   'cmd-k cmd-right': 'paner:very-right'
#
# * Vim mode
# 'atom-text-editor.vim-mode.command-mode':
#   'ctrl-w x':     'paner:swap-item'
#   'ctrl-w enter': 'paner:maximize'
#   'ctrl-w K':     'paner:very-top'
#   'ctrl-w J':     'paner:very-bottom'
#   'ctrl-w H':     'paner:very-left'
#   'ctrl-w L':     'paner:very-right'
#
# * Mine.
# 'atom-text-editor.vim-mode.command-mode':
#   'cmd-x':     'paner:swap-item'
#   'cmd-enter': 'paner:maximize'
#   'cmd-K':     'paner:very-top'
#   'cmd-J':     'paner:very-bottom'
#   'cmd-H':     'paner:very-left'
#   'cmd-L':     'paner:very-right'
#
